<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcx.mapper.NoticeMapper">

    <select id="queryUserNotice" resultType="Notice">
        select * from mi_notice where username=#{username} or username='ALL'
    </select>

    <insert id="addNotice" parameterType="Notice">
        insert into mi_notice(username,notice_type,datetime,`describe`,url) values
        (#{username},#{noticeType},#{datetime},#{describe},#{url})
    </insert>

    <delete id="deleteNotice" parameterType="int">
        delete from  mi_notice where id=#{id}
    </delete>
</mapper>